.text-uppercase{
	text-transform: uppercase;
}
.full_width{
	width: 100%;
}
ul{
	margin: 0;
}
.right_absolute{
	position: absolute!important;
	right: 0;
}
#top{
	background-color: #1976D5;
	height: 50px;
	position: relative;
	z-index: 998;
}
header{
	background-color: #2096F6;
	height: 80px;
	position: relative;
	z-index: 998;
}
#top .container{
	padding-top: 15px;
}
#top .container ul li{
	display: inline-block;
	margin-right: 10px;
}
#top a.btn{
	top: -8px;
}
header nav{
	background-color: inherit;
    box-shadow: none;
}
header .brand-logo .logo{
	margin-top: 9px;
}
header .brand-logo .logo img{
	padding: 2px;
    background-color: #fff;
}
header .brand-logo .right{
	margin-left: 20px;
    margin-top: 14px;
}
header .brand-logo h1{
	font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}
header .brand-logo h3{
    font-size: 14px;
    margin: 0;
}
/*#navigation{
	background-image: url(../img/bg_natural_sougen.png);
	background-size: contain;
}*/
@media only screen and (max-width: 992px){
	nav .brand-logo{
		left: 0%;
	    -webkit-transform: translateX(-0%);
	    transform: translateX(-0%);
	}
}
.button-collapse .material-icons{
	font-size: 36px;
    margin-top: 6px;
}
header nav ul.right_absolute li{
	margin: 0 7px;
}
header nav ul.right_absolute li a{
	display: inline;
    padding: 0 0 9px 0;
}
header nav ul li:hover,header nav ul li.active,header nav ul li a:hover{
	background-color : transparent;
}
header nav ul li.active a,header nav ul li:hover a{
	border-bottom: 3px solid #fff;
}
section{
	background-image: url(../img/bg_natural_sougen.png);
	min-height: 100vh;
	position: relative;
	top: -110px;
}
section .content_1 {
	padding: 30px 20px;
	position: relative;
    z-index: 1;
    top: 110px;
}
section .content_1 ul li {
	list-style: initial;
}
section .content_1 ul {
    /*font-size: 18px;*/
    margin-top: 15px;
}
section .content_1 .left {
    padding-left: 25px;
}
section .content_1 ul p{
	color: #1A1A1A;
}
.carousel .carousel-item{
    /*width: 20%;*/
    height: auto;
}
section .content_2{
	background-color: #EEEEEE;
    padding: 0 30px;
    height: 320px;
    overflow: hidden;
}
@media only screen and (max-width: 600px){
	section .content_2{
	    top: 0px;
		height: 200px;
		padding: 30px;
	}
	.carousel{
		height: 200px;
	}
	section .row.content_3 {
		background-position-x: -1000px;
	}
	section,section .content_1{
		top: 0;
	}
}
section .row.content_3 {
	background-image: url(../img/bg_school_room.png);
	background-size: cover;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-top: 80px;
}
section .content_3>div{
    position: relative;
}
section .content_3 .text_box{
	position: absolute;
    top: 0px;
    height: 42%;
    width: calc(100% - 23px);
    font-weight: bold;
}
section .content_3 .text_box p{
	width: 100%;
}
section .content_4>div>div.row{
	padding: 0 20px;
}
section .content_4>div>div.row .text_box{
	font-size: 13px;
}